<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto">
　　　<p>本日もお疲れ様です。<br>
        無理しすぎない様に、自己管理も大切です。<br>
               どうぞよろしくお願いいたします。<br>

　　　</p>
    </div>
  </div>
</div>
